@use "reset";

:root {
  --background: #f5f8f1;
  --primary-accent: #4b7a47;
  --secondary-accent: #87a985;
  --text-primary: #3a4a3a;
  --text-secondary: #5e6e5e;
  --header-footer-bg: #dde4d0;
  --success: #6ba072;
  --warning: #cc7722;
  --card-bg: #ffffff;
}

/* Dark Mode Colors */
.dark-mode {
  --background: #1f2a20;
  --primary-accent: #5f8765;
  --secondary-accent: #7f9d7f;
  --text-primary: #e5ede0;
  --text-secondary: #a3b0a3;
  --header-footer-bg: #2d3a2d;
  --success: #6ba072;
  --warning: #ffb973;
  --card-bg: #2d3a2d;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
header,
footer {
  width: 100%;
  padding: 20px;
  background-color: var(--header-footer-bg);
  text-align: center;
  font-size: 1.5em;
  color: var(--text-primary);
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .cart-icon {
    display: flex;
    img {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
    .items-in-cart {
      background-color: var(--primary-accent);
      color: #fff;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      transition: transform 0.3s ease-in-out; /* Smooth scaling transition */
    }

    .items-in-cart.scale-up {
      transform: scale(1.5); /* Scale up to 1.5x size */
    }
  }
}
.hidden {
  display: none;
}

button,
input[type="submit"] {
  background-color: var(--primary-accent);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: var(--secondary-accent);
  }
  &:disabled {
    background-color: dimgrey;
    color: #fff;
    opacity: 1;
    cursor: default;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.product-card {
  background-color: var(--card-bg);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  // overflow: hidden;
  text-align: center;
  padding: 20px;
  color: var(--text-primary);

  img {
    border-radius: 8px;
  }
  button {
    width: 40px;
    height: 40px;
  }
  h2 {
    font-size: 1.2em;
    margin: 15px 0 10px;
  }
  h4 {
    font-size: 1.1em;
    color: var(--primary-accent);
    margin-bottom: 15px;
  }
  p {
    font-size: 0.9em;
    color: var(--text-secondary);
    margin-bottom: 15px;
  }
  .product-amount {
    padding: 15px;
    width: 40px;
    text-align: center;
    color: var(--text-primary);
    font-size: 1.2rem;
  }
}

.rating-icon-container {
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--primary-accent);
}

.cart {
  background-color: var(--card-bg);
  // border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 280px;
  // margin: 20px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h2 {
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-primary);
  }

  .items {
    margin-bottom: 1.5rem;

    .item {
      display: flex;
      align-items: center;
      gap: 10px;
      border-bottom: 1px solid #f0f0f0;
      padding: 10px 0;

      img {
        width: 60px;
        height: 60px;
        border-radius: 4px;
        object-fit: cover;
      }

      .details {
        flex: 1;

        h3 {
          font-size: 1rem;
          margin: 0;
        }

        .price,
        .quantity {
          font-size: 0.9rem;
          margin: 5px 0;
          color: var(--text-secondary);
        }
        .discount {
          color: rgb(255, 60, 60);
        }

        .original-price {
          text-decoration: line-through;
        }
      }
    }
  }

  .summary {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;

    p {
      font-size: 0.9rem;
    }

    .total-price-title {
      font-size: 1.1rem;
      font-weight: bold;
      color: var(--text-primary);
    }

    .total-price {
      font-size: 1.2rem;
      font-weight: bold;
      color: var(--primary-accent);
    }
  }
}

.form-container {
  background-color: var(--card-bg);
  // border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 280px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    label {
      font-weight: bold;
      margin-bottom: 5px;
      display: flex;
      flex-direction: column;

      span {
        color: var(--text-primary);
        font-size: 1rem;
      }

      input,
      textarea {
        padding: 8px;
        border: 1px solid var(--text-secondary);
        border-radius: 4px;
        background-color: var(--background);
        font-size: 0.9;
        color: var(--text-primary);

        &:focus {
          outline: 1px solid var(--primary-accent);
          border-color: var(--primary-accent);
        }
      }

      .error-container {
        color: var(--warning);
        font-size: 0.9rem;
      }
    }
  }
}

.payment-method {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--card-bg);
  width: 280px;
  margin: 0 auto;

  form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    label {
      display: flex;
      align-items: center;
      font-size: 1rem;
      color: var(--text-primary);

      input[type="radio"],
      input[type="checkbox"] {
        margin-right: 8px;
        accent-color: var(--primary-accent);
      }

      span {
        font-size: 0.9rem;
        color: var(--text-secondary);
      }
    }
  }

  .card,
  .invoice {
    padding: 16px;
    border: 1px solid var(--text-secondary);
    border-radius: 8px;
    background-color: var(--background);
    max-width: 400px;
    margin: 0 auto;

    label {
      display: flex;
      flex-direction: column;
      margin-bottom: 12px;
      font-size: 0.9rem;
      color: var(--text-primary);

      span {
        margin-bottom: 4px;
        font-weight: bold;
        color: var(--text-secondary);
      }

      input {
        padding: 8px;
        border: 1px solid var(--text-secondary);
        border-radius: 4px;
        background-color: var(--background);
        font-size: 0.9rem;
        color: var(--text-primary);

        &:focus {
          outline: none;
          border-color: var(--primary-accent);
          box-shadow: 0 0 4px var(--primary-accent);
        }
      }

      input[type="number"] {
        appearance: textfield; // Removes arrows on number inputs
      }
    }
  }
}

.clear-order {
  background-color: var(--card-bg);
  border: 2px solid var(--warning);
  color: var(--warning);
  width: fit-content;
  font-size: 0.9rem;
  &:hover {
    background-color: var(--warning);
    color: var(--card-bg);
  }
}

.input-error {
  border: 2px solid var(--warning) !important;
}

.order-summary {
  background-color: var(--card-bg);
  width: 280px;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;

  .discount {
    color: rgb(255, 60, 60);
  }

  .original-price {
    text-decoration: line-through;
  }
}
