@use 'reset';

:root {
  --background: #F5F8F1;
  --primary-accent: #4B7A47;
  --secondary-accent: #87A985;
  --text-primary: #3A4A3A;
  --text-secondary: #5E6E5E;
  --header-footer-bg: #DDE4D0;
  --success: #6BA072;
  --warning: #CC7722;
  --card-bg: #FFFFFF;
}

/* Dark Mode Colors */
.dark-mode {
  --background: #1F2A20;
  --primary-accent: #5F8765;
  --secondary-accent: #7F9D7F;
  --text-primary: #E5EDE0;
  --text-secondary: #A3B0A3;
  --header-footer-bg: #2D3A2D;
  --success: #6BA072;
  --warning: #CC7722;
  --card-bg: #2D3A2D;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
header, footer {
  width: 100%;
  padding: 20px;
  background-color: var(--header-footer-bg);
  text-align: center;
  font-size: 1.5em;
  color: var(--text-primary);
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .cart-icon {
    display: flex;
    img {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
    .items-in-cart {
      background-color: var(--primary-accent);
      color:#fff;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
    }
   
  }
}
.hidden {
  display: none;
}

button {
  background-color: var(--primary-accent);
  color: #FFF;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background-color: var(--secondary-accent);
}
button:disabled {
  background-color: dimgrey;
  color: #FFF;
  opacity: 1;
  cursor: default;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.product-card {
  background-color: var(--card-bg);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  // overflow: hidden;
  text-align: center;
  padding: 20px;
  color: var(--text-primary);

  img {
    border-radius: 8px;
  }
  button {
    width: 40px;
    height: 40px;
  }
  h2 {
    font-size: 1.2em;
    margin: 15px 0 10px;
  }
  h4 {
    font-size: 1.1em;
    color: var(--primary-accent);
    margin-bottom: 15px;
  }
  p {
    font-size: 0.9em;
    color: var(--text-secondary);
    margin-bottom: 15px;
  }
  input {
    width: 40px;
    text-align: center;
  }
}

.rating-icon-container {
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--primary-accent);
}

.cart {
  background-color: var(--card-bg);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 60%;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h2 {
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-primary);
  }

  .items {
    margin-bottom: 1.5rem;

    .item {
      display: flex;
      align-items: center;
      gap: 10px;
      border-bottom: 1px solid #f0f0f0;
      padding: 10px 0;

      img {
        width: 60px;
        height: 60px;
        border-radius: 4px;
        object-fit: cover;
      }

      .details {
        flex: 1;

        h3 {
          font-size: 1rem;
          margin: 0;
        }

        .price,
        .quantity {
          font-size: 0.9rem;
          margin: 5px 0;
          color: var(--text-secondary);
        }

        .discount{
          color: rgb(255, 60, 60);
        }

        .original-price{
          text-decoration: line-through;
        }
      
      }

    }
  }

  .summary {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;

    p {
      font-size: 0.9rem;
    }

    .total-price-title {
      font-size: 1.1rem;
      font-weight: bold;
      color: var(--text-primary);
    }
    
    .total-price {
      font-size: 1.2rem;
      font-weight: bold;
      color: var(--primary-accent);
    }
  }
}

.input-error {
  border: 2px solid var(--warning);
}
